@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poller+One&family=Roboto&family=Podkova&display=swap');
@font-face {
    font-family: 'PoetsenOne';
    src:  url('../fonts/poetsen-one.ttf');
  }

html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

section {
    margin-bottom: 10rem;
    &.section-title{
        margin-bottom: 4rem;
        height: 6rem;
        background-color: white;
        text-align: center;
        h2{
            font-size: 5rem;
            font-family: 'Poller One', cursive;
            @media  screen and (max-width: 768px) {
                font-size: 4rem;
            }
            @media  screen and (max-width: 390px) {
                font-size: 3rem;
                padding: 0rem 1rem;

            }
        }
    }
    &.header{
        text-align: center;
        .header-bg{
            height: 35rem;
            background-image: url(../images/header-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            text-align: center;
            .portrait{
                pointer-events: none;
                position: absolute;
                top: 22rem;
                transform: translate(-50%,0);
            }
        }
        .social{
            margin-top: 5rem;
            display: flex;
            justify-content: center;
            font-size: xx-large;
            .social-link{
                padding: 1.5rem;
                transition: all .2s ease-in-out;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        .introduction{
            font-family: 'Merriweather', serif;
            font-size: 2.25rem;
            margin-top: 3.5rem;
            padding: 0rem 7rem;

            @media  screen and (max-width: 1000px) {
                font-size: 2rem;
                padding: 0rem 1rem;
            }
            @media  screen and (max-width: 768px) {
                font-size: 1.35rem;
                padding: 0rem 1.5rem;

            }
            @media  screen and (max-width: 390px) {
                font-size: 1.2rem;
                padding: 0rem 1rem;

            }
            .intro-name{
                font-family: 'Poller One', cursive;
            }
        }
    }
    &.bio{
        text-align: center;
        .bio-text{
            font-family: 'Roboto', sans-serif;
            font-size: 2.25rem;
            padding: 4rem 8rem;

            @media  screen and (max-width: 1000px) {
                font-size: 2rem;
                padding: 2rem 1rem;
            }
            @media  screen and (max-width: 768px) {
                font-size: 1.35rem;
                padding: 2rem 1.5rem;

            }
            @media  screen and (max-width: 390px) {
                font-size: 1.2rem;
                padding: 2rem 1rem;

            }
        
        }
    }
    &.skills{
        display: flex;
        justify-content: center;
        padding: 3rem 2rem;
        .skill-list{
            display: flex;
            text-align: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 6rem;
            
            .skill{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: 'Merriweather', serif;
                font-size: 1rem;
                font-weight: 500;
                transition: all .2s ease-in-out;
                i{
                    font-size: 4rem;
                    margin-bottom: 1.5rem;
                }
                &:hover{
                    transform: scale(1.1);
                }
            }
        } 
    }
    &.featured-projects{
        margin-top: 6rem;
        text-align: center;
        .projects-container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 5rem;
            margin-top: 10rem;
            .project{
                h3{
                    margin-bottom: 2rem;
                    font-family: 'PoetsenOne';
                    font-size: 3.5rem;
                }
                
            }
        }
    }
    &.heating-up-dfs{
        .hudfs-header{
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            &.hudfs-intro{
                background-image: url(../images/projects/heating-up-dfs-cover.jpg);
            }
        }
        .hudfs-purpose{
            background-image: url(../images/projects/light_bulb.jpeg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .purpose-top{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 3rem;
                padding: 0rem 5rem;
                padding-top: 5rem;
                margin-bottom: 5rem;
                h2{
                    font-family: 'Poller One', cursive;
                    padding-top: 3rem;
                }
            }
            .purpose-bottom{
                display: flex;
                flex-direction: row;
                justify-content: center;
                font-size: 1.5rem;
                padding:  5rem;
                font-family: 'Merriweather', serif;
                gap: 2rem;
                background-color: rgba(0, 0, 0, 0.3);
                color: white;
                margin: 5rem;
            }
        }
        .hudfs-app-details{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 5rem;
            background-color: #fff;
            .hudfs-details-title{
                font-family: 'Poller One', cursive;
                font-size: 4rem;
            }
            .hudfs-details{
                padding: 10rem 0rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Merriweather', serif;
                gap: 5rem;
                font-size: 1.5rem;
                .hudfs-details-text{
                    max-width: 40rem;
                    text-align: right;
                }
            }
        }
        .hudfs-screenshots{
            margin-top: 2rem;
            h2{
                font-family: 'Poller One', cursive;
                font-size: 4rem;
            }
            .hudfs-screenshots-img{
                transform: scale(0.7);
            }
        }
        .hudfs-userflow{
            h2{
                font-family: 'Poller One', cursive;
                font-size: 4rem;
                margin-bottom: -2.5rem;
                margin-top: 6rem;
            }
        }
    }
    &.ido{
        .ido-details-container{
            background: linear-gradient(180deg, #D68609 0%, rgba(214, 134, 9, 0) 100%);
            min-width: 100%;
            margin-top: -10rem;
            padding-top : 5rem;
            padding-left: 8rem;
            padding-right: 8rem;
            .ido-details-header{
                h3{
                    font-family: 'Poller One', cursive;
                    font-size: 4rem;
                }
                hr{
                    border: none;
                    height: 0.25rem;
                    width: 100%;
                    background-color: black;
                    margin: 0;
                    margin: 1rem 0rem;
                }
            }
            .ido-details-text{
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                hr{
                    border: none;
                    height: 0.25rem;
                    width: 10rem;
                    background-color: black;
                    margin: 0;
                    margin: 1rem 0rem;
                }
                .ido-quote{
                    color: white;
                    font-family: 'Poller One', cursive;
                    font-size: 1.25rem;
                    text-align: right;
                }
            }
            .ido-list{
                float:right; 
                text-align:right;
                list-style-position: inside;
                font-family: 'PoetsenOne';
                font-size: 1.25rem;
                li.ido-list-item:not(:last-child) { 
                    margin-bottom: 2rem;  
                 }
            }
        }
        .ido-screenshots{
            margin-top: 20rem;
            padding: 3rem;
            padding-bottom: 0;
            text-align: center;
            background: linear-gradient(90deg, #FBC2EB 0%, #A6C1EE 100%);
            .ido-screenshots-img{
                margin-top: 3rem;
                height: 40rem;
                background-image: url(../images/projects/ido-screenshots.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            h3{
                font-family: 'Poller One', cursive;
                font-size: 4rem;
            }
        }
    }
    .ido-testimonal{
        background: rgba(196, 196, 196, 1);
        padding: 3rem;
        .ido-testimonal-text{
            color: white;
            font-family: 'Poller One', cursive;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                font-size: 2.5rem;
            }
            
            .ido-quotes{
                display: flex; 
                justify-content: space-between;
                flex-direction: row;
                padding: 0rem 3rem;
                
                p{
                    padding: 1rem;
                    margin-top: 1rem;
                    font-size: 1.5rem;
                    word-wrap: break-word;
                }
            }
        }
    }
    .ido-client-info{
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        font-family: 'Merriweather', serif;
        flex-wrap: wrap;
        h3{
            margin-top: 0.25rem;
            font-size: 1.25rem;
            font-weight: 700;
            
        }
        img{
            object-fit: contain;
        }
        .demo-table{
            margin-top: 1.5rem;
            td {
                padding: 1rem 3rem;
              }
        }
        
        
    }
    .client-info-container{
        flex: 1;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid black;
    
        &:not(:last-child){
            border-right: 1px solid black;
        }

        &.no-border{
            border: unset;
        }
        
    }
    .identity-item{
        text-align: left;
        padding: 2rem 3rem;
        h3{
            margin-bottom: 2rem;
        }
    }
    .personality-items{
        text-align: left;
        padding: 2rem 0rem;
        .meter-labels{
            margin: 3rem 0.5rem 0rem 0.5rem;
            display: flex;
            justify-content: space-between;
        }
        .personality-meter{
            margin-bottom: 2rem;
            border: 1px solid black;
            height: 1.5rem;
            .meter-progress{
                height: 1.5rem;
                width: 5rem;
                background: rgba(242, 17, 193, 1);
            }
        }
    }
    .journey-map-header{
        background: rgba(214, 134, 9, 1);
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            font-size: 4rem;
            font-family: 'Poller One', cursive;
        }
    }
    .journey-map{
        height: 50rem;
        background-image: url(../images/projects/journey_map.png);
        overflow: hidden;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    &.quiksplit{
        background: rgba(250, 214, 52, 1);
        padding: 4rem;
        h2{
            font-size: 4rem;
            font-family: 'Poller One', cursive;  
            text-align: center;
        }
        .row{
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            font-family: 'Roboto', sans-serif;
            .col-md-6{
                justify-content: center;
            }
        }
    }
    
    &#kendall-martin-header{
        margin-bottom: 0rem;
        text-align: left;  
        background-color: rgba(250, 214, 52, 1);
        padding: 5rem 0rem 5rem 8rem;
        padding-bottom: 10rem;
    }

    .green-gradient-bg{
        background: linear-gradient(90deg, #D4FC79 0%, #96E6A1 100%);
    }
    
    .poller-one-font{
        font-family: 'Poller One', cursive;  
    }

    &.quiksplit-userflow-diagram{
        background: linear-gradient(90deg, #D4FC79 0%, #96E6A1 100%);
        .quiksplit-userflow-diagram-img{
            height: 80rem;
            background-image: url(../images/projects/quiksplit-userflow.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    &.quiksplit-demo{
        .quiksplit-screenshots{
            padding: 3rem;
            padding-bottom: 4rem;
            text-align: center;
            background: linear-gradient(90deg, #D4FC79 0%, #96E6A1 100%);
            .quiksplit-screenshots-img{
                margin-top: 3rem;
                height: 40rem;
                background-image: url(../images/projects/quiksplit-screenshots.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            h3{
                font-family: 'Poller One', cursive;
                font-size: 4rem;
            }
        }
    }
    &.fahreheit-info{
        background: #FF6F00;
        padding: 8rem;
        
        h2{
            text-align: center;
            font-family: 'Poller One', cursive;  
            font-size: 3rem;
            padding: 5rem 0rem;
        }
        .fahreheit-details{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10rem;
            padding: 2rem;
            .row{
                align-items: center;
            }
            p{
                font-family: 'Merriweather', serif;
                font-size: 1.5rem;
            }
        }
    }
    .no-bottom-margin{
        margin-bottom: 0 !important;
    }
    &.fahreheit-userflow-diagram{
        background: linear-gradient(90deg, #A18CD1 0%, #FBC2EB 100%);
        .fahreheit-userflow-diagram-img{
            height: 80rem;
            background-image: url(../images/projects/fahreheint-userflow.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    &.challenges{
        display: flex;
        justify-content: space-between;
        .challenges-details{
            padding: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2{
                font-family: 'Poller One', cursive;
                font-size: 3rem;
                text-align: right;
            }
            p{
                margin-top: 2rem;
                font-family: 'Merriweather', serif;
                font-size: 1.5rem;
                text-align: right;
               
            }
        }
        img{
            max-height: 50rem;
        }
    }
}

@media screen and (max-width: 1100px) {

    section{
        &.challenges{
            flex-direction: column;
            .challenges-details{
                padding: 1rem;
                h2{
                    font-size: 2rem;
                    padding-left: 0rem;
                }
                p{
                    font-size: 1rem;
                    padding-left: 0rem;
                }
            }
        }
        &.fahreheit-info{
            padding: 0rem;
            .fahreheit-details{
                p{
                    font-size: 1rem;
                }
            }
            
        }
        &#kendall-martin-header{
            padding: 0rem;
        }
        &.quiksplit{
            padding: 1rem;
            margin-bottom: -1px !important;
            .quiksplit-details{
                padding: 1rem;
                .quiksplit-details-row{
                    flex-direction: column;
                    &:last-child{
                        flex-direction: column;
                    }
                }
            }
        }
    }
    
    .hudfs-details{
        padding-top: 0rem;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 941px) {
    section{
        &.ido{
            .container{
                padding: 0rem;
            }
            .journey-map-header{
                padding: 1.5rem;
            }
            .ido-details-container{
                    padding: 3rem;
                    .row{
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                        flex-direction: column-reverse;
                        gap: 10rem;
                        .com-sm-12{
                            padding: 0rem;
                        }
                    }
                }
        }

    }
    
}

@media screen and (max-width: 768px) {
    section.quiksplit-demo .quiksplit-screenshots h3{
        font-size: 2rem;
    }
    section{
        &.fahreheit-info{
            padding: 1rem;
            .fahreheit-details{
                justify-content: center;
                p{
                    font-size: 1.25rem;
                }
            }
            
        }
    }
    section#kendall-martin-header {
        text-align: center;
        h2{
            font-size: 3rem !important;
        }
        padding-bottom: 3rem;
    }
    section.quiksplit{
        h2{
            font-size: 3rem;
        }
        
    }

    section.ido{
        .ido-testimonal{
            padding: 1rem;
            text-align: center;
            .ido-testimonal-text{
                .ido-quotes{
                    flex-direction: column;
                }
            }
        }
    }
    
    
    

    section.ido .ido-screenshots .ido-screenshots-img{
        margin-top: 0rem;
    }

    section.heating-up-dfs{
        div.hudfs-purpose{
            .purpose-top{
                padding: 1rem;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 2rem;
                h2{
                    padding: unset;
                }
            }
            .purpose-bottom{
                flex-direction: column;
                padding: 1rem;
                margin: 0rem;
                .purpose-text{
                    padding: unset;
                }
            }
        }
        .hudfs-app-details{
            padding: 1rem 2rem;
            .hudfs-details-title{
                margin-top:2rem;
                font-size: 3rem;
            }
            h2{
                font-size: 3rem;
            }
        }

    }
    
    .ido-client-info{
        img{
            max-width: 100%;
        }
    }
}


  @media screen and (max-width: 530px) {
    section#kendall-martin-header {
        h2{
            font-size: 2rem !important;
        }
    }
    .purpose-bottom{
        p{
            font-size: 1rem;
        }
    }
  }